*{
    margin:0;
  }
  
  .container{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color:lightgray;
    border: 2px solid black;
    border-radius:10px;
    box-shadow: 1px 2px 5px 3px black;
    padding:50px;
    margin:50px;
    
  }
  
  .card p{
    font-size:20px;
    font-weight:800;
  }
  
  .card input{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 3px 3px black;
    height:30px;
    margin:10px;
  }
  
  .card button{
    margin:20px;
    border: 2px solid black;
    border-radius: 10px;
    width:100px;
    text-align:center;
    background-color:rgb(144,238,144, .7);
  }
  
  .card button:hover{
    background-color: rgb(144,268,144);
    box-shadow: 1px 3px 3px black;
  }
  
  .card button:active{
    background-color: yellow;
    box-shadow: 3px 1px 1px black;
  }
  